.footer {
  display: grid;
  grid-area: FT;
  color: var(--white);
}

.footerContent {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 2%;
  gap: 20px;
  background-color: var(--red-900);
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
}

.footerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 10px;
  text-align: center;

  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
  }
  .cpsLogo {
    cursor: pointer;
  }
}
