.footer {
  grid-area: FT;
  display: flex;
  justify-content: space-around;
  padding: 10px 2%;
  height: 100%;
  background-color: var(--red-900);
  color: var(--white);
  gap: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

.footerLeft {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
.footerRight {
  display: flex;
  flex-direction: column;
  align-items: end;
  justify-content: flex-end;
  gap: 10px;
  text-align: center;

  @media (max-width: 768px) {
    align-items: center;
    justify-content: center;
  }
  .cpsLogo {
    cursor: pointer;
  }
}
