.table {
  width: 100%;
  table-layout: auto;
}

.tableHeader {
  text-align: left;
  padding: 20px 0px 30px 0px;
  font-size: 1.7rem;
  font-weight: 500;
}

.tableCell {
  padding: 10px 0px;
  font-weight: 500;
  color: var(--black);
  width: fit-content;
  max-width: 200px;
  word-break: break-word;
}

.tableRow span {
  font-size: 1.15rem;
  padding: 5px 0px;
}

.noData {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #999;
}

.showOnMobileOnly {
  display: none;
}

@media screen and (max-width: 650px) and (min-width: 581px) {
  .tableHeader {
    font-size: 1.4rem;
  }
}

@media screen and (max-width: 580px) and (min-width: 400px) {
  .showOnMobileOnly {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .showOnMobileOnly > div {
    border: 1px solid black;
    padding: 35px;
    margin-top: 10px;
    width: 60%;
  }
}

@media screen and (max-width: 375px) and (min-width: 321px)  {
  .tableHeader {
    font-size: 1.6rem;
    text-align: center;
  }

  .showOnMobileOnly {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .showOnMobileOnly > div {
    border: 1px solid black;
    padding: 35px;
    margin-top: 10px;
    width: 60%;
  }
}

@media screen and (max-width: 374px) {
  .tableHeader {
    font-size: 1.3rem;
    text-align: center;
  }

  .showOnMobileOnly {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 20px;
  }

  .showOnMobileOnly > div {
    border: 1px solid black;
    padding: 35px;
    margin-top: 10px;
    width: 60%;
  }
}