.container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.eventImageSection {
  width: 100%;
  display: flex;
  justify-content: center;
}

.eventImage {
  width: 80%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  max-width: 800px;
}

.eventDetails {
  display: flex;
  flex-direction: column;
  width: 80%;
  max-width: 800px;
  gap: 16px;
  color: var(--black);
}
.eventDetails button {
  display: flex;
  width: 200px;
  align-self: center;
  border-radius: 0;
}

.eventTitle {
  font-size: 28px;
  font-weight: bold;
}

.eventResponsible {
  font-size: 16px;
  color: var(--gray-500);
}

.eventInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailBlock {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.detailTitle {
  font-size: 18px;
  font-weight: bold;
  color: var(--black);
}

.infoItem {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  color: var(--gray-500);
}

.eventDescription {
  font-size: 16px;
  line-height: 1.5;
  text-align: justify;
}

.otherEventsSection {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.otherEventsSection h2 {
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .eventTitle {
    font-size: 22px;
  }
  .eventDetails {
    width: 90%;
  }
  .eventImage {
    width: 90%;
  }
}

@media (max-width: 480px) {
  .eventInfo {
    font-size: 12px;
  }
  .eventDescription {
    font-size: 14px;
  }
  .eventDetails {
    width: 95%;
  }
  .eventImage {
    width: 95%;
  }
}
