.modalDeleteCategory {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 15px 0;
}

.modalDeleteCategory > span {
  font-size: 25px;
  color: var(--red-900);
}

.modalDeleteCategory > p {
  font-size: 18px;
}

section.container {
  margin: 0 auto 0 auto;
  width: 60vw;
  padding: 24px;
  border-radius: 12px;
  border: 1px solid var(--black);
}

section.container > header.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

section.container > header.header > .title {
  font-size: 1.8rem;
  font-weight: 500;
}

section.container > header.header > div.addCategory {
  display: flex;
  align-items: center;
  font-size: 1.3rem;
  color: var(--red-900);
  text-decoration: none;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

section.container > header.header > div.addCategory:hover {
  transform: scale(1.04);
}

@media screen and (max-width: 1024px) {
  section.container {
    width: 90vw;
  }
}

@media screen and (max-width: 580px) {
  section.container {
    width: 95vw;
    padding: 30px 10px;
  }

  section.container > header.header {
    flex-direction: column;
    gap: 20px;
  }

  .hideScreenOnMobile {
    display: none;
  }
}
