.content {
  grid-area: CT;
  display: flex;
  flex-direction: column;
  padding: 24px 5.625%;
  overflow-x: hidden;

  @media (max-width: 768px) {
    padding: 24px 4%;
  }
  @media (max-width: 375px) {
    padding: 24px 2%;
  }
}

.grid {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'NB'
    'CT'
    'FT';
  min-height: 100vh;
  height: auto;

  @media (max-width: 1000px) {
    height: auto;

    grid-template-areas:
      'NB NB'
      'CT CT'
      'FT FT';
  }
}
