.eventsGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
  max-width: 100%;
  padding: 10px;

  @media (max-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    gap: 5px;
    padding: 0;
  }
  @media (max-width: 425px) {
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  }
}

.eventsGrid .noData {
  text-align: center;
  padding: 20px;
  font-size: 16px;
  color: #999;
}
