.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.inputLabel {
  font-size: 1rem;
  margin-bottom: 4px;
  text-align: left;
}

.inputField {
  padding: 10px;
  border: 1px solid var(--gray-300);
  border-radius: 5px;
  font-size: 1rem;
  color: var(--black);
  box-shadow: 2px 2px 2px var(--black);
  width: 100%;
}

.inputField:focus {
  outline: none;
}

.inputError {
  border-color: var(--red-900);
  color: var(--red-900);
}

.errorMessage {
  color: var(--red-900);
  font-size: 0.85rem;
  margin-top: 4px;
  text-align: left;
}

@media screen and (max-width: 325px) {
  .inputField {
    font-size: 0.8rem;
  }
}
